*{
    font-family: sans-serif;
    font-weight: 300;
}

html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}

.navbar{
    margin: 0;
    background: linear-gradient(180deg, rgba(172, 172, 172), rgb(172, 172, 172, 0.178));
    width: 100%;
    height: 70px;
    padding: 0;
    border-bottom: 3px ridge rgb(146 200 62);
}

.logo{
    position: absolute;
    top: -40px;
    left: 40px;
}

h2{
    /* margin-left: 4%; */
    margin-top: 1%; 
    font-size: 40px;
    text-align: center;
}

.map-cont{
    width: 60%;
    height: 80%;
    position: absolute;
    top: 15%;
    border-right: 1px solid black;
}

#map{
    width: 90%;
    height: 82.5%;
    border: 1px black solid;
    position: absolute;
    top: 13%; left: 4%;
}
