*{
    font-family: sans-serif;
    font-weight: 300;
}

html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}

/*Navbar */

.navbar{
    margin: 0;
    background: linear-gradient(180deg, rgba(172, 172, 172), rgb(172, 172, 172, 0.178));
    width: 100%;
    height: 70px;
    padding: 0;
    border-bottom: 3px ridge rgb(146 200 62);
}

.logo{
    position: absolute;
    top: -40px;
    left: 40px;
}

/* cont titles */
h2{
    margin-left: 4%;
    color: rgb(146 200 62);
    margin-top: .7%; 
    font-size: 32.5px;
    width: 90%;
    padding-bottom: 9px;
    border-bottom: 1.5px solid black;
    /* text-align: center; */
}

/* map div */
.map-cont{
    width: 60%;
    height: 80%;
    position: absolute;
    top: 15%;
    border-right: 2px solid rgb(146 200 62);
}

#map{
    width: 90%;
    height: 82.5%;
    border: 1px black solid;
    position: absolute;
    top: 13%; left: 4%;
}

/* filter and detail divs */
.filter-cont, .details-cont{
    position:absolute;
    right: 0;
    height: 40%;
    width: 40%;
}

.filter-title, .detail-title{
    font-size: 28px;
}

.filter-cont{
    top: 16%;
}

.details-cont{
    top: 55%;
}

/* filter styling*/
.filter-inputs{
    display: block;
    margin: auto;
    background: rgb(237, 237, 237);
    width: 80%;
    height: 60%;
    padding: 5px;
}
.btn-ttl{
    text-align: center;
    margin: 5px;
    font-size: 24px;
    color: rgb(96, 124, 50);
    margin-left: 10px;
    margin-right:10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.btn-cont{
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* filter buttons styling */
.cat-btn{
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
    margin: 7.5px;
    width: 75px;
    height: 30px;
    transition: background .25s;
    font-size: 10px;
}

.cat-btn:hover{
    background: rgb(215, 242, 172);
}

.cat-btn.active{
    background: rgb(174, 223, 95);
}

.cat-btn:focus {outline:0;}

/* Location details */
.data-cont{
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.location-input{
    display: block;
    margin: auto;
    background: rgb(237, 237, 237);
    width: 80%;
    height: 60%;
    padding: 5px;
}
.data-title{
    text-align: center;
    margin: 5px;
    font-size: 24px;
    color: rgb(96, 124, 50);
}

.data{
    width: 100%;
    height: 40px;
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    display:block;
}

h4{
    display: inline;
    font-weight: 400;
    font-size: 17px;
    line-height: 40px;
}

span{
    font-size: 13px;
    line-height: 40px;
    text-align: right;
}